<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>About Us</h2>
      <p>
        This is a diploma project for KhAI university created by Raikhberh Vladyslav
      </p>
    </div>
  </div>
</div>