<div id="comments">
	<% comments.each do |c| %>
		<div class="comment">
			<% unless local_assigns[:hide_mail] %>
				<span>
					<%= User.find(c.user_id).email %>
				</span>
			<% end %>
			<p>
				<%= c.content %>
			</p>
			<% if local_assigns[:show_direction] %>
				<p>
					address: <%= link_to 'показать на странице', polymorphic_path(Object.const_get(c.commentable_type).find(c.commentable_id)) %>
				</p>
			<% end %>
		</div>
	<% end %>
</div>