<div class="grey-back project-page page-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Edit user</h2>
        <%= form_for @user, method: :put do |f| %>
          <div class="form-block">
            <%= f.label :avatar, 'Avatar (url)' %>
            <%= f.text_field :avatar %>
          </div>
          <div class="form-block">
            <%= f.submit 'Submit', class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>