<h1>Profile</h1>
<h3>Your balance:</h3>
<%= number_to_currency @balance %>

<%= link_to 'Edit account info', edit_account_path %>

<%= link_to 'Create project', new_project_path %>
<h3>Your projects:</h3>
<% @projects.each do |p| %>
	<%= link_to p.title, p %>
<% end %>