html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
input[type="submit"]{
  cursor: pointer;
}
ul{
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
  max-height: 100%;
}

html, body{
  font-family: "Latha", Helvetica;
  height: 100%;
}
body *{
  color: #5c5c5c;
}

.top-bar{
  padding: 25px 0 22px;
}
.menu{
  float: left;
}
.menu li{
  float: left;
}
.menu li{
}
.menu li a{
  text-decoration: none;
  color: #5c5c5c;
  font-size: 24px;
  margin-left: 36px;
  display: block;
}
.menu li a:hover{
  text-decoration: underline;
}
.menu li:first-child a{
  margin-left: 0;
}
.top-bar .ifc{
  float: right;
  margin-top: 8px;
}
.top-bar .ifc li{
  float: right;
  margin-right: 20px;
  color: #5c5c5c;
  font-size: 16px;
}
.top-bar .ifc a{
  text-decoration: none;
  color: #5c5c5c;
  font-size: 16px;
}
.top-bar .ifc a:hover{
  text-decoration: underline;
}
.top-bar .ifc li:first-child{
  margin-right: 0;
}

.main-back{
  background-size: cover;
  padding-bottom: 54px;
  text-align: center;
}
.main-back .text{
  font-size: 60px;
}
.main-back .text.white{
  color: white;
}
.main-back .text > div{
  display: table;
  width: 100%;
  min-height: 366px;
}
.main-back .text > div > div{
  display: table-cell;
  vertical-align: middle;
  line-height: 80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  color: white;
}
.btn{
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #acd373;
    padding: 10px 26px 10px;
  border-radius: 8px;
  font-size: 19px;
}
input.btn{
  border: none;
}
.btn:hover{
  background: #9dbf69;
  text-decoration: none;
  color: white;
}
.main-back .btn{
  padding: 19px 29px 17px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.main{
  padding-top: 65px;
}
h3{
  display: block;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  color: #5c5c5c;
}
h3 a{
  color: #5c5c5c;
}

.huge-block{
  margin-bottom: 86px;
}
.huge-block-body{
  display: table;
  width: 100%;
}
.huge-block-row{
  display: table-row;
}
.huge-block-row .photo{
  display: table-cell;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}
.huge-block-row .photo img{
  max-height: 400px;
}
.huge-block-row .content{
  display: table-cell;
  width: 50%;
  background: #fbfbfb;
  vertical-align: middle;
  padding: 12px 27px 12px;
}
.huge-block-row .content-wrapper{
  display: inline-block;
  vertical-align: middle;
}

h4{
  display: block;
  color: #5c5c5c;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}
h4 a{
  color: #5c5c5c;
}

.huge-block-body p{
  display: block;
  line-height: 23px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #5c5c5c;
}

.progress{
  text-align: center;
  color: #696969;
  font-size: 20px;
  line-height: 28px;
}
.progress .line{
  border-radius: 4px;
  overflow: hidden;
  background: #d7d7d7;
  height: 20px;
  margin-bottom: 20px;
  position: relative;

  span{
    position: absolute;
    width: 100%;
    font-size: 18px;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 20px;
  }
}
.progress .line .done{
  float: left;
  background: #acd373;
  height: 20px;
  border-radius: 4px;
}
.progress .info{
  margin-bottom: 20px;
}
.progress .info > div{
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: middle;
}

.ratings{
  text-align: center;
}
.rating-block{
  display: inline-block;
  width: 127px;
  text-align: center;
  color: #5d5d5d;
  vertical-align: top;
  text-align: center;
}
.rating-circle{
  position: relative;
  width: 67px;
  height: 67px;
  margin: 0 auto 11px;
}
.rating-circle img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rating-circle .slice{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
    transform-origin: 0% 100%;
}
.slice:first-child {
  transform: rotate(0deg) skewY(-22.5deg);
}
.rating-circle .percents{
  background: white;
  height: 49px;
  width: 49px;
  line-height: 49px;
  margin-top: 9px;
  margin-left: 9px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  color: #5c5c5c;
  position: absolute;
  z-index: 1;
}
.rating-circle .slice span {
  display: block;
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  border-radius: 50%;
  background: #acd373;
}
.slice:first-child span {
  transform: skewY(22.5deg); /* unskew slice contents */
}

.vertical-block{
  background: #fafafa;
  margin-bottom: 22px;
}
.vertical-block .pic{
  height: 181px;
}
.vertical-block .pic img{
  width: 100%;
}
.vertical-block h4{
  margin-bottom: 14px;
}
.vertical-block p{
  display: block;
  font-size: 16px;
  color: #5c5c5c;
  line-height: 20px;
  margin-bottom: 18px;
  height: 60px;
  overflow: hidden;
}
.vertical-block h4 a{
  height: 27px;
  line-height: 27px;
  display: block;
  overflow: hidden;
  color: #5c5c5c;
}
.vertical-block .content{
  padding: 28px 23px 14px;
}
.vertical-block .progress .info > div{
  font-size: 16px;
  color: #696969;
  width: 30%;
  line-height: 22px;
}
.vertical-block .rating-block{
  width: 30%;
}

.btn-hollow{
  display: inline-block;
  padding: 7px 26px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #acd373;
  background: white;
  font-size: 19px;
  color: #5c5c5c;
}
.btn-hollow:hover{
  text-decoration: none;
  color: white;
  background: #acd373;
}

.blocks-line{
  margin-bottom: 30px;
}
.blocks-line .btn-hollow, .blocks-line .btn{
  float: right;
}

.minified-block .pic{
  max-height: 300px;
}

footer{
  background: #363636;
}
footer li{
  display: block;
}
footer a{
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  display: block;
}
footer a:hover{
  text-decoration: underline;
  color: white;
}
footer a:visited{
  color: white;
}

p{
  display: block;
  margin-bottom: 20px;
  font-style: 20px;
  color: #5c5c5c;
}
h1, h2, h3{
  color: #5c5c5c;
  margin-bottom: 20px;
  display: block;
}
h1{
  font-size: 30px
}
h2{
  font-size: 26px;
}
h3{
  font-size: 22px;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}
footer{
  height: 47px;
  padding: 12px 0 8px;
}

input[type="text"], textarea, input[type="number"]{
  height: 30px;
  padding: 0 10px;
  font-size: 18px;
  display: block;
  width: 400px;
  border: 1px solid #b3b3b3;
  max-width: 100%;
}
.form-block label{
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}
.form-block input[type="text"], .form-block input[type="number"]{
  //border-radius: 8px;
}
textarea{
  padding: 10px;
  height: 100px;
}
.form-block{
  margin-bottom: 24px;
}

.pagination{
  color: #5c5c5c;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;

  a{
    color: #5c5c5c;
  }
  em{
    text-decoration: underline;
  }
  span{
    color: #d7d7d7;
  }
}

#advanced-search{
  h5{
    margin-top: 14px;
  }

  ul{
    margin-bottom: 0;
  }
}
.search-options{
  padding-left: 10px;
}
#advanced-search > div{
  padding-bottom: 10px;
}
#advanced-search{
  li {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #5c5c5c;

    input{
      margin-right: 8px;
    }
    label{
      cursor: pointer;
    }
  }
}

h5{
  font-weight: bold;
  font-size: 20px;
  color: #5c5c5c;
  display: block;
  margin-bottom: 10px;
}

/* ------------ project page ---------- */

.grey-back{
  background: #f7f7f7;
}
.project-header{
  padding: 58px 0 0;
  margin-bottom: 10px;

  h1{
    margin-bottom: 0.4em;
  }
}
.published-at{
  color: #b3b3b3;
}
.comment .published-at{
  margin-left: 10px;
}
.comment{
  overflow: hidden;
  margin-bottom: 10px
}
h1{
  display: block;
  font-size: 50px;
  color: #585858;
  margin-bottom: 16px;
}
.user-info .line{
  overflow: hidden;
  margin-bottom: 7px;
}
.avatar{
  float: left;
  height: 70px;
  width: 70px;
  border-radius: 60%;
  overflow: hidden;
}
.user-info .avatar{
  float: right;
}
.comment .avatar{
  margin: 0 12px 12px 0;
  width: 45px;
  height: 45px;

}
.avatar img{
  width: 100%;
  height: 100%;
}
.user-info span{
  display: block;
  text-align: right;
  font-size: 14px;
  color: #666666;
}
.user-info span a{
  text-decoration: underline;
  color: #585858;
}
.user-info span a:hover{
  text-decoration: none;
}
.project-page{
  padding-bottom: 64px;
  margin-bottom: 17px;
}
.project-info{
  margin-bottom: 30px;
}
.project-info .pic img{
  max-height: 278px;
}
.project-info .progress{
  margin-top: 10px;
}
.project-page p{
  line-height: 26px;
  margin-bottom: 0;
}

.tabs{
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 52px;
}
.tabs li{
  display: inline-block;
}
.tabs a{
  display: inline-block;
  vertical-align: bottom;
  line-height: 55px;
  padding-bottom: 7px;
  margin-left: 60px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #666666;
}
.tabs a:hover{
  text-decoration: none;
  color: #666666;
  padding-bottom: 5px;
  border-bottom: 2px solid #acd373;
}
.tabs a:focus{
  text-decoration: none;
  color: #666666;
}
.tabs li:first-child a{
  margin-left: 0;
}
.tabs .active a{
  padding-bottom: 0;
  border-bottom: 7px solid #acd373;
}
.project-updates{
  margin-bottom: 55px;
}
.project-update{
  overflow: hidden;
}
.project-update-info{
  float: left;
  color: #666666;
  text-align: right;
  padding-right: 32px;
  line-height: 24px;
  width: 14%;
  position: relative;
  margin-top: 20px;
}
.project-update-info:before{
  display: block;
  content: "";
  height: 21px;
  width: 21px;
  border-radius: 13px;
  border: 4px solid #acd373;
  background: white;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -12px;
}
.project-update-content{
  float: left;
  width: 50%;
  padding: 20px 0 60px 26px;
  border-left: 3px solid #acd373;
}
.project-update:last-child .project-update-content{
  padding-bottom: 20px;
}
.project-update-content p{
  display: block;
  font-size: 20px;
  color: #666666;
  margin-bottom: 22px;
}
.project-update-content h3{
  display: block;
  margin-bottom: 22px;
  font-size: 26px;
  color: #666666;
}
.project-update-content h3 a{
  color: #b3b3b3;
  font-size: 14px;
  margin-left: 20px;
}
.project-update-content h3 a:first-child{
  color: #666666;
  font-size: 26px;
  margin-left: 0;
}
.project-update-content img{
  margin-bottom: 22px;
}

#create_comment{
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
#create_comment textarea, #create_comment input{
  display: block;
  margin-bottom: 20px;
}
#create_comment textarea{
  height: 80px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  border-radius: 8px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.page-padding{
  padding-top: 40px;
}

#project-modal .modal-content{
  padding: 26px;

  .close{
    float: right;
    border: none;
    background: none;
    color: #b3b3b3;
    font-size: 22px;

    &:hover{
      color: black;
    }
  }
  .close.margined{
    margin-top: -10px;
    margin-right: -10px;
  }
  .update-header{
    overflow: hidden;
  }
  .published-at{
    margin-bottom: 20px;
  }
  .update-image{
    margin-bottom: 20px;
    display: block;
    margin: 0 auto 20px;
  }
  p{
  }
  h2{
    float: left;
    margin-bottom: 4px;
  }
}

.support-link{
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  background: #acd373;
  margin: 12px 0 0;

  &:hover, &:active, &:focus{
    color: white;
    text-decoration: none;
  }
  &:hover{
    background: #acdd73;
  }
}
.see-sponsors{
  font-size: 12px;
  display: inline-block;
  margin-top: 4px;
  color: #b3b3b3;
  text-decoration: underline;
}
.see-sponsors:hover{
  color: #585858;
  text-decoration: none;
}

.text-center{
  text-align: center;
}

#rating-buttons{
  display: inline-block;
  vertical-align: middle;
}
.rating-button{
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;

  &.like{
    margin: -8px 4px 0 24px;
  }
}

#comments{
  margin-bottom: 30px;
}

.block{
  display: block;
}

.project-links{
  margin-top: 20px;
}
.project-links a{
  display: inline-block;
  margin-right: 24px;
  color: #acd373;
  font-size: 22px;
  font-weight: bold;
}
.project-links a:hover{
  color: #acd373;
}

.project-list .project{
  margin-bottom: 30px;
  border-top: 1px solid #b3b3b3;
  padding-top: 30px;
}
.project-list .project:first-child{
  
}

@media(max-width:991px){
  .project-info .pic{
    text-align: center;
  }
  .project-header h1{
    text-align: center;
  }
  .user-info .avatar{
    margin: 0 auto;
    display: block;
    float: none;
  }
  .user-info span{
    text-align: center;
  }
  .tabs a{
    font-size: 14px;
    margin-left: 15px;
    line-height: 32px;
  }
  .project-update-content{
    width: 80%;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-top: 15px;
  }
  .project-update-info{
    width: 19%;
    font-size: 13px;
    text-align: left;
  }
  .project-update-content h3 a:first-child{
    font-size: 18px;
  }
  .project-update-content h3 a{
    margin-left: 0;
    display: block;
  }
  .project-update-content p{
    font-size: 16px;
  }
  h1{
    font-size: 36px;
  }
}

@media (max-width: 991px) {
  .wrapper{
    margin-bottom: 0;
  }
  footer{
    height: auto;
  }
  .push-footer{
    display: none;
  }
  .vertical-block .pic{
    height: auto;
    text-align: center;
  }
  .vertical-block .pic img{
    width: auto;
    max-height: 250px;
  }
}