<h2>Projects:</h2>

<% @projects.each do |p| %>
	<h3><%= link_to p.title, user_project_path(p.user_id, p) %></h3>
	By <%= p.user.email %>
<% end %>

<h2>Users:</h2>

<% @users.each do |u| %>
	<%= link_to u.email, u %>
<% end %>